#### Importing the data and preparing it

In [3]:
#IMPORT NECESSARY LIBRARIES
import pandas as pd #Pandas is responsible for importing datasets as well as data manipulation and exploration
import os #The os library handles file preparations
import zipfile #The zipfile library is responsible for all zipping operations

In [4]:
#importing the csv file and storing in a variable named "salaries". Name: Total.csv
salaries = pd.read_csv("Total.csv", low_memory=False)

In [5]:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312882 entries, 0 to 312881
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   EmployeeName      312882 non-null  object
 1   JobTitle          312882 non-null  object
 2   BasePay           312882 non-null  object
 3   OvertimePay       312882 non-null  object
 4   OtherPay          312882 non-null  object
 5   Benefits          312882 non-null  object
 6   TotalPay          312882 non-null  float64
 7   TotalPayBenefits  312882 non-null  float64
 8   Year              312882 non-null  int64
dtypes: float64(2), int64(1), object(6)
memory usage: 21.5+ MB

In [6]:
#Check for duplicate records
salaries.duplicated().sum()

0

In [7]:
salaries.head()

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,Not Provided,567595.43,567595.43,2011
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,Not Provided,538909.28,538909.28,2011
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,Not Provided,335279.91,335279.91,2011
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,Not Provided,332343.61,332343.61,2011
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,Not Provided,326373.19,326373.19,2011

In [8]:
#Get rid of trailing whitespaces from employee name column and convert all names to lower case for easy access
salaries.loc[:, 'EmployeeName'] = salaries['EmployeeName'].str.strip(' ').str.lower()

In [9]:
salaries.head()

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,nathaniel ford,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,Not Provided,567595.43,567595.43,2011
1,gary jimenez,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,Not Provided,538909.28,538909.28,2011
2,albert pardini,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,Not Provided,335279.91,335279.91,2011
3,christopher chong,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,Not Provided,332343.61,332343.61,2011
4,patrick gardner,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,Not Provided,326373.19,326373.19,2011

**No duplcate records in the dataset**

#### Creating the function

In [12]:
#Creating the employee function to accept names of employees and return their details
#The employee function only takes in one argument which is the name of the employee
def employee(employee_name):
    # Find rows where the 'Name' matches the input
    name = salaries[salaries['EmployeeName'] == employee_name.lower()]
    #Check if the name variable is not empty(that is, if the name searched for exists)
    if not name.empty:
        return name.iloc[0].to_dict()  # Convert the row to a dictionary
        
    #Execute only if the name is empty    
    else:
        #Use the f-string format since the only alternative is to use print()
        return f"{employee_name} does not exist in the records."

#### Getting employee information and exporting it

In [14]:
#Testing the function: Get information about an employee
employee('patrick gardner')

{'EmployeeName': 'patrick gardner',
 'JobTitle': 'DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)',
 'BasePay': '134401.60',
 'OvertimePay': '9737.00',
 'OtherPay': '182234.59',
 'Benefits': 'Not Provided',
 'TotalPay': 326373.19,
 'TotalPayBenefits': 326373.19,
 'Year': 2011}

In [15]:
#Save the employee's information in the variable "employee_details" while handling possible errors in retrieving employee's information
try:
    employee_details = employee('albert pardini')
except Exception as a:
    print(f"{a}: Error retrieving employee information")

In [16]:
employee_details

{'EmployeeName': 'albert pardini',
 'JobTitle': 'CAPTAIN III (POLICE DEPARTMENT)',
 'BasePay': '212739.13',
 'OvertimePay': '106088.18',
 'OtherPay': '16452.60',
 'Benefits': 'Not Provided',
 'TotalPay': 335279.91,
 'TotalPayBenefits': 335279.91,
 'Year': 2011}

In [17]:
pd.DataFrame(employee_details, index=[1])

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
1,albert pardini,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,Not Provided,335279.91,335279.91,2011

In [18]:
#Exporting an employee's profile as a csv file using pandas. This will be stored in the same directory as the jupyter notebook
pd.DataFrame(employee_details, index=[1]).to_csv('employee_details.csv', index=False)

#### Zipping the employee information in a folder

In [20]:
#Store the folder name in the variable folder
folder = 'Employee_Profile'
#Create the folder. mkdir means make directory
os.mkdir('Employee_Profile')

In [21]:
#Using fucntions from the zipfile library to make a zipped version of the folder and also store the employee_details file in it.
with zipfile.ZipFile(f"{folder}.zip", "w") as zipf:
            zipf.write('employee_details.csv')  # Add the CSV file to the zip